.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: #2e2f42;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    display: block;
}

fieldset {
    outline: none;
    border: none;
}

input {
    font-family: inherit;
}

textarea {
    resize: none;
}

/*--------------common------------*/

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1440px;
        padding: 0 16px;
    }
}



/*------------header-container------------*/

.header {
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
    background: #fefefe;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav {
    display: none;
}

.main-button {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 0;
}

.burger-btn:hover .burger-icon,
.burger-btn:focus .burger-icon {
    fill: #ffe550;
}

.burger-icon {
    fill: #7eb101;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-container {
        align-items: center;
    }

    .nav {
        display: flex;
        margin-right: 32px;
    }

    .nav-list {
        display: flex;
        gap: 28px;
    }

    .current {
        position: relative;
        color: #bbf330;
    }

    .nav-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 28px;
        display: block;
        width: 100%;
        height: 1px;
        border-radius: 2px;
        font-weight: 400;
        background-color: #bbf330;
    }

    .nav-link {
        padding: 28px 0;
        display: block;
        font-size: 14px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus {
        font-weight: 700;
        text-decoration: underline;
        color: #bbf330;
    }

    .main-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        min-width: 98px;
        height: 32px;
        background: #bbf330;
        border: none;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        color: #2c2c2c;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .main-button:hover,
    .main-button:focus {
        background: #ffe450;
    }
}

/*------------mobile-menu-header------------*/
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 170px;
    background-color: #bbf330;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 999;
}

.mobile-menu-container {
    position: relative;

    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
}

.mobile-menu-close {
    width: 12px;
    height: 12px;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
    padding: 0;

    position: absolute;
    top: 7px;
    right: 9px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: transparent;
    border: none;
}

.mobile-menu-close:focus .cross-icon,
.mobile-menu-close:hover .cross-icon {
    fill: #ffffff;
}

.menu-nav-link {
    display: block;
    color: #000;
    margin-bottom: 32px;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
    font-weight: 700;
    color: #2c2c2c;
}

.menu-nav-current {
    font-weight: 700;
    color: #2c2c2c;
}



/*------------start-container------------*/

.start-container {
    padding-top: 60px;
}

.start-title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 28px;
}

.start-text {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 32px;
}

.main-button-start {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    min-width: 98px;
    height: 32px;
    background: #bbf330;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button-start:hover,
.main-button-start:focus {
    background: #ffe450;
}

.start-salad {
    display: none;
}

@media screen and (min-width: 768px) {

    .start-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        padding-top: 60px;
    }

    .start-salad {
        display: block;
        margin: 0 auto;
    }

    .start-title {
        width: 537px;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 44px;
    }

    .start-text-wrap {
        width: 300px;
        margin-bottom: 40px;
    }

    .salad-border {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 149px;
        border-radius: 50%;
        border: 14px solid #ffe550;
        width: 292px;
        height: 292px;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .salad-border:hover {
        border: 14px solid #bbf330;
    }
}

@media screen and (min-width: 1280px) {
    .start-container {
        padding-top: 14px;
        padding-bottom: 69px;
    }

    .start-text-wrap {
        min-width: 511px;
    }

    .start-title {
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 28px;
    }

    .start-text {
        margin-bottom: 40px;
    }

    .salad-border {
        border: 26px solid #ffe550;
        width: 528px;
        height: 528px;
        margin-top: 0;
    }

    .salad-border:hover {
        border: 26px solid #bbf330;
    }
}



/*------------about-us-container------------*/

.about-us-container {
    padding-top: 91px;
}

.apple {
    margin-bottom: 60px;
}

.title-about-us {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 28px;
    width: 280px;
}

.text-about-us {
    margin-bottom: 28px;
    line-height: 1.4;
    width: 280px;
    font-size: 14px;
}

.icon {
    fill: #7eb101;
    margin-bottom: 8px;
}

.advantage-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
}

.advantage-text {
    margin-bottom: 24px;
    line-height: 1.5;
    width: 260px;
    font-size: 14px;
}

.advantage-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7eb101;
    border-radius: 30px;
    width: 106px;
    height: 40px;
    background: inherit;
    margin-top: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantage-button:hover,
.advantage-button:focus {
    background: #bbf330;
    border: none;
}

@media screen and (min-width: 768px) {
    .about-us-container {
        padding-top: 42px;
    }

    .title-about-us {
        margin-bottom: 20px;
        width: 526px;
        font-size: 42px;
        line-height: 1.2;
    }

    .text-about-us {
        margin-bottom: 33px;
        line-height: 1.5;
        width: 500px;
        font-size: 16px;
    }

    .our-advantages {
        display: flex;
        gap: 80px;
    }

    .our-advantage {
        width: 288px;
    }

    .advantage-text {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .about-us {
        background: #ffe550;
    }

    .about-us-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 205px;
        padding-bottom: 110px;
    }

    .apple-img-border {
        border-radius: 100%;
        border: 5px solid rgba(255, 255, 255, 0.5);
        width: 530px;
        height: 532px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;
    }

    .apple-img {
        border-radius: 100%;
        background-color: #fefefe;
        width: 482px;
        height: 482px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .apple {
        margin-top: -50px;
    }

    .our-advantages {
        gap: 67px;
    }

    .our-advantage {
        width: 253px;
    }

    .icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: #fefefe;
        margin-bottom: 8px;
    }

    .icon {
        margin-bottom: 0px;
    }

    .about-us-wrap {
        justify-content: space-between;
    }

    .advantage-button {
        background: #fff;

    }
}



/*------------dishes-container------------*/

.dishes-container {
    padding-top: 132px;
}

.dishes-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
}

.dishes-text {
    text-align: center;
    margin-bottom: 60px;
}

.chicken {
    display: none;
}

.salad-with-salmon {
    display: none;
}

.borshch {
    display: none;
}

.img-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 11px solid #ffe550;
    width: 269px;
    height: 271px;
    margin-bottom: 20px;
    padding: 18px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-border:hover {
    border: 11px solid #bbf330;
}

.img-border-hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .dishes-container {
        padding-top: 188px;
    }

    .dishes-title {
        font-size: 42px;
    }

    .chicken {
        display: block;
    }

    .salad-with-salmon {
        display: block;
    }

    .borshch {
        display: block;
    }

    .img-border-hidden {
        display: flex;
    }

    .dishes-list {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }

    .img-border {
        border: 14px solid #ffe550;
        width: 322px;
        height: 324px;
        padding: 20px;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-border:hover {
        border: 14px solid #bbf330;
    }
}

@media screen and (min-width: 1280px) {
    .dishes-container {
        padding-top: 120px;
        padding-bottom: 101px;
    }

    .img-border {
        border: 16px solid #ffe550;
        width: 329px;
        height: 317px;
        padding: 25px;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .img-border:hover {
        border: 16px solid #bbf330;
    }
}



/*-----------rewiews-container------------*/

.reviews-container {
    padding-top: 120px;
}

.reviews-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
}

.reviews-text {
    font-size: 14px;
    margin-bottom: 40px;
}

.review-wrap {
    margin-bottom: 25px;
}

.stars-wrap {
    display: flex;
    gap: 4px;
    margin-bottom: 28px;
}

.star-icon {
    fill: #ffe550;
}

.review-text {
    font-weight: 700;
    margin-bottom: 40px;
}

.person-wrap {
    display: flex;
    gap: 16px;
    align-items: center;
}

.reviewers-text::after {
    content: "";
    position: absolute;
    top: 0;
    right: -16px;
    width: 1px;
    height: 52px;
    background-color: #7eb101;
}

.person {
    position: relative;
}

.reviewers-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 2px;
}

.reviewers-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .reviews-container {
        padding-top: 160px;
    }

    .reviews-title {
        font-size: 42px;
    }

    .reviews-text {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .review-wrap-container {
        display: flex;
        gap: 32px;
    }

    .review-text {
        font-size: 18px;
        margin-bottom: 44px;
    }
}

@media screen and (min-width: 1280px) {
    .reviews-container {
        padding-top: 140px;
        padding-bottom: 126px;
    }

    .reviews {
        background: #ffe550;
    }

    .review-wrap-container {
        gap: 139px;
    }

    .review-wrap {
        background-color: white;
        width: 501px;
        border-radius: 0 25px 25px 25px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 14px;
        padding-left: 14px;
    }
}



/*------------order-container------------*/

.order-container {
    padding-top: 25px;
    padding-bottom: 60px;
}

.order-img {
    margin-bottom: 17px;
}

.order-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
}

.order-text {
    margin-bottom: 40px;
    font-size: 14px;
}

.order-input {
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px;
    width: 279px;
    height: 42px;
    background-color: transparent;
    margin-bottom: 20px;
}

.order-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
    padding-right: 11px;
    padding-bottom: 12px;
}

.order-input:hover,
.order-input:focus {
    border: 0.85px solid #7eb101;
    outline: none;
}

.order-button {
    display: block;
    margin-left: 177px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 30px;
    padding: 10px 20px;
    width: 103px;
    height: 42px;
    background: #bbf330;
    border: none;
    color: #2c2c2c;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background: #ffe450;

}

@media screen and (min-width: 768px) {
    .order-container {
        padding-top: 58px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
    }

    .order-title {
        font-size: 42px;
    }

    .order-img {
        float: right;
    }

    .order-text {
        margin-bottom: 24px;
        font-size: 16px;
        width: 520px;
    }

    .order-input-wrap {
        display: flex;
        gap: 22px;
    }

    .order-input {
        width: 395px;
        height: 42px;
    }

    .order-button {
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .order-container {
        padding-top: 176px;
        padding-bottom: 201px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .order-input-wrap {
        gap: 22px;
    }
}



/*------------footer-container------------*/

.footer-container {
    position: relative;

    padding-top: 64px;
    padding-bottom: 60px;
    background-image: url(/images/fruit-bckg-mob.jpg);
    background-position: bottom center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2) {
    .start-container {
        background-image: url(/images/fruit-bckg-mob-2x.jpg);
    }
}

.logo-footer {
    position: absolute;

    top: 60px;
    left: 20px;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    font-weight: 700;
    text-decoration: underline;
    color: #bbf330;
}

.footer-input-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.footer-input {
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px;
    width: 279px;
    height: 42px;
    margin-bottom: 20px;
}

.footer-input:hover,
.footer-input:focus {
    border: 0.85px solid #7eb101;
    outline: none;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
    padding-right: 11px;
    padding-bottom: 12px;
}

.footer-button {
    border: 0.85px solid #7eb101;
    border-radius: 30px;
    padding: 10px 20px;
    width: 103px;
    height: 42px;
    background: transparent;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 24px;
    color: #2c2c2c;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    border: 2px solid #ffe450;
}

.footer-input-text {
    font-size: 10px;
    margin-bottom: 120px;
}

.footer-link {
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #7eb101;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.right-wrap-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-link {
    font-size: 10px;
}

.right-text {
    font-size: 10px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-container {
        padding-top: 118px;
        padding-bottom: 100px;
        background-image: url(/images/fruit-bckg-tab.jpg);
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
        .start-container {
            background-image: url(/images/fruit-bckg-tab-2x.jpg);
        }
    }

    .logo-footer {
        top: 100px;
        left: 33px;
    }

    .footer-nav-list {
        flex-direction: row;
        gap: 28px;
        margin-left: 216px;
        margin-bottom: 57px;
    }

    .input-btn-wrap {
        display: flex;
        gap: 13px;
    }

    .footer-input-text {
        font-size: 12px;
        margin-bottom: 100px;
    }

    .right-wrap {
        display: flex;
        justify-content: space-between;

    }

    .right-wrap-links {
        display: flex;
        gap: 20px;
    }

    .footer-link {
        font-size: 12px;
    }

    .right-text {
        font-size: 12px;
    }
}

@media screen and (min-width: 1280px) {
    .footer-container {
        padding-top: 118px;
        padding-bottom: 100px;
        background-image: url(/images/fruit-bckg-dsk.jpg);
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
        .start-container {
            background-image: url(/images/fruit-bckg-dsk-2x.jpg);
        }
    }

    .logo-footer {
        left: 21px;
    }

    .footer-wrap {
        display: flex;
        justify-content: space-between;
    }

    .footer-input-wrap {
        align-self: flex-end;
    }
}