.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: #2e2f42;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    display: block;
}

fieldset {
    outline: none;
    border: none;
}

input {
    font-family: inherit;
}

textarea {
    resize: none;
}

/*--------------common------------*/
.container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 16px;
    }
}



/*------------header-container------------*/

.header {
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
    background: #fefefe;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav {
    display: none;
}

.main-button {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 0;
}

.burger-btn:hover .burger-icon,
.burger-btn:focus .burger-icon {
    fill: #ffe550;
}

.burger-icon {
    fill: #7eb101;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-container {
        align-items: center;
    }

    .nav {
        display: flex;
        margin-right: 32px;
    }

    .nav-list {
        display: flex;
        gap: 28px;
    }

    .current {
        position: relative;
        color: #bbf330;
    }

    .nav-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 28px;
        display: block;
        width: 100%;
        height: 1px;
        border-radius: 2px;
        font-weight: 400;
        background-color: #bbf330;
    }

    .nav-link {
        padding: 28px 0;
        display: block;
        font-size: 14px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus {
        font-weight: 700;
        text-decoration: underline;
        color: #bbf330;
    }

    .main-button {
        display: block;
        border-radius: 30px;
        min-width: 98px;
        height: 32px;
        background: #bbf330;
        border: none;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        color: #2c2c2c;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .main-button:hover,
    .main-button:focus {
        background: #ffe450;
    }
}

/*------------mobile-menu-header------------*/
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 170px;
    background-color: #bbf330;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 999;
}

.mobile-menu-container {
    position: relative;

    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
}

.mobile-menu-close {
    width: 12px;
    height: 12px;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
    padding: 0;

    position: absolute;
    top: 7px;
    right: 9px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: transparent;
    border: none;
}

.mobile-menu-close:focus .cross-icon,
.mobile-menu-close:hover .cross-icon {
    fill: #ffffff;
}

.menu-nav-link {
    display: block;
    color: #000;
    margin-bottom: 32px;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
    font-weight: 700;
    color: #2c2c2c;
}

.menu-nav-current {
    font-weight: 700;
    color: #2c2c2c;
}



/*------------start-container------------*/

.start {
    padding-top: 60px;
    padding-bottom: 91px;
}

.start-title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 28px;
}

.start-text {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 32px;
}

.main-button-start {
    display: block;
    border-radius: 30px;
    min-width: 98px;
    height: 32px;
    background: #bbf330;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button-start:hover,
.main-button-start:focus {
    background: #ffe450;
}

.start-salad {
    display: none;
}

@media screen and (min-width: 768px) {
    .start {
        padding-top: 60px;
        padding-bottom: 42px;
    }

    .start-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }

    .start-salad {
        display: block;
        margin: 0 auto;
    }

    .start-title {
        width: 537px;
        font-weight: 700;
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 44px;
    }

    .start-text-wrap {
        width: 300px;
        margin-bottom: 40px;
    }

    .salad-border {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 149px;
        border-radius: 50%;
        border: 14px solid #ffe550;
        width: 292px;
        height: 292px;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .salad-border:hover {
        border: 14px solid #bbf330;
    }
}

@media screen and (min-width: 1158px) {
    .start {
        padding-top: 14px;
        padding-bottom: 69px;
    }

    .start-text-wrap {
        min-width: 511px;
    }

    .start-title {
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 28px;
    }

    .start-text {
        padding-bottom: 40px;
    }

    .salad-border {
        border: 26px solid #ffe550;
        width: 528px;
        height: 528px;
        margin-top: 0;
    }

    .salad-border:hover {
        border: 26px solid #bbf330;
    }
}



/*------------about-us-container------------*/

.apple {
    margin-bottom: 60px;
}

.title-about-us {
    padding-bottom: 28px;
    font-weight: 700;
    font-size: 28px;
    width: 280px;
}

.text-about-us {
    padding-bottom: 28px;
    line-height: 1.4;
    width: 280px;
    font-size: 14px;
}

.icon {
    fill: #7eb101;
    margin-bottom: 8px;
}

.advantage-title {
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
}

.advantage-text {
    padding-bottom: 24px;
    line-height: 1.5;
    width: 280px;
    font-size: 14px;
}

.advantage-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7eb101;
    border-radius: 30px;
    width: 106px;
    height: 40px;
    background: inherit;
    margin-top: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantage-button:hover,
.advantage-button:focus {
    background: #bbf330;
    border: nonee;
}

@media screen and (min-width: 768px) {
    .title-about-us {
        padding-bottom: 20px;
        width: 526px;
        font-size: 42px;
        line-height: 1.2;
    }

    .text-about-us {
        padding-bottom: 33px;
        line-height: 1.5;
        width: 500px;
        font-size: 16px;
    }

    .our-advantages {
        display: flex;
        gap: 80px;
    }

    .our-advantage {
        width: 288px;
    }

    .advantage-text {
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 1158px) {
    .about-us {
        background: #ffe550;
    }

    .about-us-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 205px;
        padding-bottom: 110px;
    }

    .apple-img-border {
        border-radius: 100%;
        border: 5px solid rgba(255, 255, 255, 0.5);
        width: 550px;
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .apple-img {
        border-radius: 100%;
        background-color: #fefefe;
        width: 502px;
        height: 502px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .apple {
        margin-top: -100px;
    }

    .our-advantages {
        gap: 67px;
    }

    .our-advantage {
        width: 253px;
    }

    .link-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: #fefefe;
        margin-bottom: 8px;
    }

    .about-us-wrap {
        padding-left: 90px;
    }

    .advantage-button {
        background: #fff;

    }
}



/*------------dishes-container------------*/

.dishes-container {
    padding-top: 132px;
}

.dishes-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
}

.dishes-text {
    text-align: center;
    margin-bottom: 60px;
}

.chicken {
    display: none;
}

.salad-with-salmon {
    display: none;
}

.borshch {
    display: none;
}

.img-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 11px solid #ffe550;
    width: 280px;
    height: 282px;
    margin-bottom: 20px;
    padding: 18px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-border:hover {
    border: 11px solid #bbf330;
}

.img-border-hidden {
    display: none;
}